[Unit]
Description=Api used for managing DHCP services
After=network-up.target

[Service]
ExecStartPre=. /home/jspewock/Api/venv/bin/activate
ExecStart=python3 /home/jspewock/Api/app.py 8080

[Install]
WantedBy=multi_user.target
